.page {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
  font-weight: 600;
  background-color: #f5f9fc;
}

.pies {
  max-width: 480px;
  margin: 0px auto;
  padding: 0 16px;
}
.pies__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  margin-bottom: 68.5px;
}
.pies__card {
  margin-bottom: 10px;
}
.pies__more-button {
  display: block;
  width: 100%;
  padding: 14px 0;
  margin-top: 20px;
  margin-bottom: 70px;
  border: none;
  background-color: #2196F3;
  color: white;
  border-radius: 6px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.pies__more-button:hover {
  background-color: #007dd4;
}
.pies__more-button:focus {
  background-color: #007BFF;
}
.pies__more-button:active {
  background-color: #186DB2;
}

.card {
  background: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}
.card__price {
  font-size: 24px;
  color: #2196F3;
}
.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}
.card__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  line-height: 21px;
  color: #333;
  min-width: 120px;
}
.card__label {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #9fa9b5;
  margin-bottom: 4px;
}

@media (max-width: 420px) {
  .card__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .card__field {
    width: 100%;
  }
}